$team-color: #38761d;

button {
  background: transparent;
  border-color: #aaa;
  border-radius: 5px;
  font-size: 15px;
  padding: 25px;
  margin: 5px;
  min-width: 100px;
  max-width: 250px;
  width: 40%;
  transition: .3s;

  &:focus, &:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background: lighten($team-color, 65%);
  }

  &.active {
    background: $team-color;
    color: white;
  }
}

body {
  text-align: center;

  #people-sitting {
    display: flex;

    #guys-sitting, #girls-sitting {
      width: 45%;
      margin: 10px;
    }
  }

  .next-inning-hidden {
    display: none;
  }

  .next-inning-visible {
    display: block;
    margin: auto;
  }

  #submit, #next-inning {
    width: 50%;
    background-color: $team-color;
    color: white;
    transition: 0.3s;

    &:hover {
      background-color: darken($team-color, 10%);
    }
  }

  #num-of-guys, #num-of-girls {
    background: url("http://i62.tinypic.com/15xvbd5.png") no-repeat 96% 0;
    background-color: lighten($team-color, 65%);
    height: 29px;
    overflow: hidden;
    margin: auto;
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    select {
      background: transparent;
      border: none;
      font-size: 14px;
      height: 29px;
      padding: 5px;
      width: 105%;

      cursor: pointer;

      &:focus, &:active {
        outline: none;
      }
    }
  }
}
